$color__background-header: #fff;
$color__background-fields-focus: #fff;
$color__background-header: #fff;
$color__background-main-nav-default: #000;
$color__background-search: #fff;
$color__background-separate-container: #fff;
$color__background-widget: #fff;
$color__background-body: #f7f8f9;
$color__background-screen-reader-text: #f1f1f1;
$color__background-main-nav: #eaeaea;
$color__background-fields: #fafafa;
$color__background-screen-reader: #f1f1f1;
$color__background-buttons: #55555e;
$color__background-footer: #55555e;
$color__background-buttons-hover: #3f4047;
$color__background-top-bar: #636363;
$color__background-mobile-menu-toggle: rgba(0, 0, 0, 0.02);
$color__background-pre: rgba(0, 0, 0, 0.05);
$color__background-hr: rgba(0, 0, 0, 0.1);
$color__background-back-to-top: rgba(0, 0, 0, 0.4);
$color__background-hover-back-to-top: rgba(0, 0, 0, 0.6);
$color__background-gallery: rgba(255, 255, 255, 0.7);
$color__background-hover-menu-toggle: transparent;
$color__background-menu-toggle: transparent;

$color__border-fields: #ccc;
$color__border-fields-focus: #bfbfbf;
$color__border-table: rgba(0, 0, 0, 0.1);
$color__border-quote: rgba(0, 0, 0, 0.05);
$color__border-default: #000;

$color__link-top-bar: #fff;
$color__link-footer: #fff;
$color__link-back-to-top: #fff;
$color__link-hover-back-to-top: #fff;
$color__link-hover-footer: #d3d3d3;
$color__link-footer-widget: #d3d3d3;
$color__link-main-nav: #fff;
$color__link-hover-main-nav: #7a8896;
$color__link-hover-top-bar: #303030;
$color__link-hover: #000;

$color__text-fields: #666;
$color__text-header: #757575;
$color__text-gallery: #000;
$color__text-widget: #000;
$color__text-screen-reader: #21759b;
$color__text-search: #7a8896;
$color__text-screen: #222;

$color__link: #000;
$color__link-header: #222222;
$color__text-top-bar: #fff;
$color__text-buttons-hover: #fff;
$color__text-footer: #fff;

$color__button-hover-menu-toggle: #515151;
