/*===== Header =====*/

.site-header {
  position: relative;
  background-color: $color__background-header;
  height: 112px;
  display: flex;
  align-items: center;
}

.inside-header {
  padding: 20px $element-padding;
  display: flex;
  align-items: center;
  width: 100%;
  height: 72px;
}

.main-title {
  margin: 0;
  font-size: $font__size_title_site;
  line-height: 1.2em;
  word-wrap: break-word;
  font-weight: bold;
  text-transform: none;
  & a,
  & a:hover {
    color: $color__link-header;
  }
}

.site-description {
  margin: 0;
  line-height: 1.5;
  font-weight: normal;
  text-transform: none;
  font-size: $font__size_description;
  color: #757575;
}

.site-logo {
  display: inline-block;
  max-width: 100%;
}

.site-header .header-image {
  vertical-align: middle;
}
