/*===== Basic =====*/
body {
  background-color: $color__background-body;
  color: $color__text-screen;
}

body,
button,
input,
select,
textarea {
  @include font(
    $font__family_default,
    $font__weight_default,
    $font__line-height_default
  );

  @include font-size($font__size_text);
  text-transform: none;
  height: 100%;
}

p,
pre,
blockquote,
address {
  margin-bottom: 1.5em;
}

pre {
  background: $color__background-pre;
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
  margin-bottom: 1.5em;
  padding: 20px;
  overflow: auto;
  max-width: 100%;
}

blockquote {
  border-left: 5px solid rgba(0, 0, 0, 0.05);
  padding: 20px;
  margin: 0 0 1.5em;
  @include font-size($font__size_quote);
  font-style: italic;
  position: relative;
  & p:last-child {
    margin: 0;
  }
}

hr {
  background-color: $color__background-hr;
  border: 0;
  height: 1px;
  margin-bottom: 40px;
  margin-top: 40px;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

b,
strong {
  font-weight: bold;
}

cite,
dfn,
em,
i {
  font-style: italic;
}

address {
  margin: 0 0 1.5em;
}

code,
kbd,
tt,
var {
  @include font($font__code);
  @include font-size($font__size_code);
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

ins,
mark {
  text-decoration: none;
}

sub,
sup {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: 0.5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

figure {
  margin: 0;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}
