/*===== Media =====*/
/* Featured images styles */
.post-image:not(:first-child) {
  margin-top: 2em;
}

.featured-image {
  line-height: 0;
  /* no more weird spacing */
}

.separate-containers .featured-image {
  margin-top: 20px;
}

.separate-containers .inside-article > .featured-image {
  margin-top: 0;
  margin-bottom: 2em;
}

.one-container .inside-article > .featured-image {
  margin-top: 0;
  margin-bottom: 2em;
}

.page-header-image,
.page-header-image-single {
  line-height: 0;
  /* no more weird spacing */
}

.separate-containers .inside-article > [class*="page-header-"],
.one-container .inside-article > [class*="page-header-"] {
  margin-bottom: 2em;
  margin-top: 0;
}

.inside-article .page-header-image-single.page-header-below-title {
  margin-top: 2em;
}

.separate-containers .page-header-image,
.separate-containers .page-header-contained,
.separate-containers .page-header-content,
.separate-containers .page-header-image-single,
.separate-containers .page-header-content-single {
  margin-top: 20px;
}

/* Icons styles */
.gp-icon {
  display: inline-flex;
  align-self: center;
  & svg {
    height: 1em;
    width: 1em;
    top: 0.125em;
    position: relative;
    fill: currentColor;
  }
}

.icon-menu-bars svg:nth-child(2),
.toggled .icon-menu-bars svg:nth-child(1),
.icon-search svg:nth-child(2),
.close-search .icon-search svg:nth-child(1) {
  display: none;
}

.toggled .icon-menu-bars svg:nth-child(2),
.close-search .icon-search svg:nth-child(2) {
  display: block;
}

.entry-meta .gp-icon {
  margin-right: 0.6em;
  opacity: 0.7;
}

nav.toggled .icon-arrow-left svg {
  transform: rotate(-90deg);
}

nav.toggled .icon-arrow-right svg {
  transform: rotate(90deg);
}

nav.toggled .sfHover > a > .dropdown-menu-toggle .gp-icon svg {
  transform: rotate(180deg);
}

nav.toggled .sfHover > a > .dropdown-menu-toggle .gp-icon.icon-arrow-left svg {
  transform: rotate(-270deg);
}

nav.toggled .sfHover > a > .dropdown-menu-toggle .gp-icon.icon-arrow-right svg {
  transform: rotate(270deg);
}

/*===== Captions =====*/
@import "captions";

/*===== Galleries =====*/
@import "galleries";
