.post-image:not(:first-child) {
	margin-top: 2em;
}

.page-header-image,
.page-header-image-single {
	line-height: 0;
	/* no more weird spacing */
}

.separate-containers .inside-article > [class*="page-header-"],
.one-container .inside-article > [class*="page-header-"] {
	margin-bottom: 2em;
	margin-top: 0;
}

.inside-article .page-header-image-single.page-header-below-title {
	margin-top: 2em;
}

.separate-containers {
	.page-header-contained,
	.page-header-content,
	.page-header-content-single,
	.page-header-image,
	.page-header-image-single {
		margin-top: $separating-space;
	}
}